* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #AED5C3; 
}


.NavarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0em 0.18em 0.3em 0em rgba(0, 0, 0, 0.29); 
    background-image: url("../../assets/navbar2.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.NavarContainerimg {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.NavarContainer__imagen1 {
    width: 10rem; 
    height: auto;
    transform: translateX(150%) translateY(-7%);
}


.NavarContainer__Menu {
    display: flex;
    gap: 40px; 
    padding-top: 1rem;
}


.NavarContainer__Menu--item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 5px; 
    text-decoration: none;
    font-weight: 800;
    font-family: "Caveat", cursive;
    font-size: 2em;
    text-shadow: 2px 2px 0px black, -1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black;
    color: #FFFFFF;
    background: linear-gradient(145deg, #A1C0AA, #E8C6B4); 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5); 
    transition: all 0.3s ease; 
}


.NavarContainer__Menu--item:hover {
    background: linear-gradient(145deg, #E8C6B4, #A1C0AA); 
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2), -6px -6px 12px rgba(255, 255, 255, 0.7); 
    color: #FFFFFF;
}
