.Header {
  align-content: center;
  margin-bottom: 3rem;
}

.Header__Article {
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.Header__Article__MainTitle {
    font-family: "Caveat", cursive;
    font-weight: 700;
    font-size: 3em;
    padding: 1rem;
    text-transform: uppercase;
}

.Header__Article__Text {
    font-family: "Caveat", cursive;
    font-weight: 500;
    font-size: 2em;
    padding: 1rem;
}

.Header__Article__MyPhotosButton {
    font-family: "Roboto", sans-serif;
    margin: 1rem;
    border: none;
    font-family: "Caveat", cursive;
    font-weight: 800;
    font-size: 1.5em;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #a2d9ce;
}

.Header__Article__MyPhotosButton:hover {
    
    background-color:  #73c6b6;
}

.Header__VideoContainer {
    display: flex;
    justify-content: center;
    height: 800px;
}

.Header__Video {
    width: 100%;
}